* {
    margin: 0;
    padding: 0;
}

body {
    font-family: PingFangSC-Medium;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear::after {
    display: block;
    visibility: hidden;
    content: "";
    height: 0;
    clear: both;
}

.zoom {
    zoom: 1;
}

.header {
    padding: 14px 60px 14px 50px;
}

.header img {
    width: 42px;
    height: 43px;
    float: left;
}

.header h2 {
    float: left;
    margin: 0;
    margin-left: 18px;
    margin-top: 1px;
    color: #4A4A4A;
    font-size: 28px;
    width: 536px;
    /* height: 75px; */
    font-family: PingFangSC-Medium;
    line-height: 40px;
    letter-spacing: 2.1px;
    font-weight: 600;
}

.header .right a {
    margin-top: 12px;
    display: block;
    width: 64px;
    /* height: 44px; */
    font-family: PingFangSC-Light;
    color: #4A4A4A;
    line-height: 22px;
    letter-spacing: 0;
}

.footer {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: PingFangSC-Light;
    font-size: 12px;
    color: #4A4A4A;
    letter-spacing: 0;
}