<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.young.pms.mapper.auditPmsSupportProject">
    <!--查询字段信息-->
    <sql id="searchCol">
        O.id AS "id",
        O.user_id AS "userId",
        O.serial_number AS "serialNumber",
        O.years AS "years",
        O.plan_project_name AS "planProjectName",
        O.personnel_level AS "personnelLevel",
        O.item_id AS "itemId",
        O.status AS "status"
        ,O.lock_status AS "lockStatus"
    </sql>
    <!--关联查询相关sql-->
    <sql id="joinSql">
    </sql>
    <!-- 查询 -->
    <select id="getList" parameterType="com.yy.young.pms.model.AuditPmsSupportProject" resultType="com.yy.young.pms.model.AuditPmsSupportProject">
        SELECT
        <include refid="searchCol"></include>
        FROM audit_pms_support_project O
        <include refid="joinSql"></include>
        <where>
            <if test="id != null and id != ''">
                AND O.ID = #{id}
            </if>
            <if test="userId != null and userId != ''">
                AND O.user_id = #{userId}
            </if>
            <if test="planProjectName != null and planProjectName != ''">
                AND O.plan_project_name LIKE '%${planProjectName}%'
            </if>
            <if test="status != null">
                AND O.status = #{status}
            </if>
        </where>
    </select>
    <!-- 模块审核，获取需要审核的用户ID -->
    <select id="getModuleUser" parameterType="com.yy.young.pms.model.AuditPmsEducation" resultType="com.yy.young.pms.model.AuditPmsEducation">
        SELECT
        distinct O.user_id
        FROM audit_pms_education O
        <include refid="joinSql"></include>
        WHERE O.status = 5
    </select>
    <!-- 统计数量 -->
    <select id="count" parameterType="com.yy.young.pms.model.AuditPmsSupportProject" resultType="int">
        SELECT
            count(*)
        FROM audit_pms_support_project O
        <where>
            <if test="id != null and id != ''">
                AND O.ID = #{id}
            </if>
        </where>
    </select>
    <!--根据编号查询-->
    <select id="get" resultType="com.yy.young.pms.model.AuditPmsSupportProject">
        SELECT
        <include refid="searchCol"></include>
        FROM audit_pms_support_project O
        <include refid="joinSql"></include>
        WHERE O.ID=#{id}
    </select>
    <!-- 插入 -->
    <insert id="insert" parameterType="com.yy.young.pms.model.AuditPmsSupportProject">
        INSERT INTO audit_pms_support_project(
            id,
            user_id,
            serial_number,
            years,
            plan_project_name,
            personnel_level,
            item_id,
            status
            ,lock_status
        ) VALUES(
            #{id},
            #{userId},
            #{serialNumber},
            #{years},
            #{planProjectName},
            #{personnelLevel},
            #{itemId},
            #{status}
            ,#{lockStatus}
        )
    </insert>
    <!-- 修改 -->
    <update id="update" parameterType="com.yy.young.pms.model.AuditPmsSupportProject">
        UPDATE audit_pms_support_project
        <set>
            <if test="id != null">
            id = #{id},
            </if>
            <if test="userId != null">
            user_id = #{userId},
            </if>
            <if test="serialNumber != null">
            serial_number = #{serialNumber},
            </if>
            <if test="years != null">
            years = #{years},
            </if>
            <if test="planProjectName != null">
            plan_project_name = #{planProjectName},
            </if>
            <if test="personnelLevel != null">
            personnel_level = #{personnelLevel},
            </if>
            <if test="itemId != null">
            item_id = #{itemId},
            </if>
            <if test="status != null">
            status = #{status},
            </if>
            <if test="lockStatus != null">
                lock_status = #{lockStatus},
            </if>
        </set>
        WHERE ID=#{id}
    </update>
    <!-- 删除 -->
    <delete id="delete">
        DELETE FROM audit_pms_support_project WHERE ID = #{id}
    </delete>
</mapper>