<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.young.pms.mapper.auditPmsPatent">
    <!--查询字段信息-->
    <sql id="searchCol">
        O.id AS "id",
        O.user_id AS "userId",
        O.serial_number AS "serialNumber",
        O.years AS "years",
        O.patent_name AS "patentName",
        O.patent_number AS "patentNumber",
        O.patent_type AS "patentType",
        O.ranking AS "ranking",
        O.is_attorn AS "isAttorn",
        O.attorn_money AS "attornMoney",
        O.item_id AS "itemId",
        O.status AS "status"
        ,O.lock_status AS "lockStatus"
    </sql>
    <!--关联查询相关sql-->
    <sql id="joinSql">
    </sql>
    <!-- 查询 -->
    <select id="getList" parameterType="com.yy.young.pms.model.AuditPmsPatent" resultType="com.yy.young.pms.model.AuditPmsPatent">
        SELECT
        <include refid="searchCol"></include>
        FROM audit_pms_patent O
        <include refid="joinSql"></include>
        <where>
            <if test="id != null and id != ''">
                AND O.ID = #{id}
            </if>
            <if test="userId != null and userId != ''">
                AND O.user_id = #{userId}
            </if>
            <if test="patentName != null and patentName != ''">
                AND O.patent_name LIKE '%${patentName}%'
            </if>
            <if test="status != null">
                AND O.status = #{status}
            </if>
        </where>
    </select>
    <!-- 模块审核，获取需要审核的用户ID -->
    <select id="getModuleUser" parameterType="com.yy.young.pms.model.AuditPmsEducation" resultType="com.yy.young.pms.model.AuditPmsEducation">
        SELECT
        distinct O.user_id
        FROM audit_pms_education O
        <include refid="joinSql"></include>
        WHERE O.status = 5
    </select>
    <!-- 统计数量 -->
    <select id="count" parameterType="com.yy.young.pms.model.AuditPmsPatent" resultType="int">
        SELECT
            count(*)
        FROM audit_pms_patent O
        <where>
            <if test="id != null and id != ''">
                AND O.ID = #{id}
            </if>
        </where>
    </select>
    <!--根据编号查询-->
    <select id="get" resultType="com.yy.young.pms.model.AuditPmsPatent">
        SELECT
        <include refid="searchCol"></include>
        FROM audit_pms_patent O
        <include refid="joinSql"></include>
        WHERE O.ID=#{id}
    </select>
    <!-- 插入 -->
    <insert id="insert" parameterType="com.yy.young.pms.model.AuditPmsPatent">
        INSERT INTO audit_pms_patent(
            id,
            user_id,
            serial_number,
            years,
            patent_name,
            patent_number,
            patent_type,
            ranking,
            is_attorn,
            attorn_money,
            item_id,
            status
            ,lock_status
        ) VALUES(
            #{id},
            #{userId},
            #{serialNumber},
            #{years},
            #{patentName},
            #{patentNumber},
            #{patentType},
            #{ranking},
            #{isAttorn},
            #{attornMoney},
            #{itemId},
            #{status}
            ,#{lockStatus}
        )
    </insert>
    <!-- 修改 -->
    <update id="update" parameterType="com.yy.young.pms.model.AuditPmsPatent">
        UPDATE audit_pms_patent
        <set>
            <if test="id != null">
            id = #{id},
            </if>
            <if test="userId != null">
            user_id = #{userId},
            </if>
            <if test="serialNumber != null">
            serial_number = #{serialNumber},
            </if>
            <if test="years != null">
            years = #{years},
            </if>
            <if test="patentName != null">
            patent_name = #{patentName},
            </if>
            <if test="patentNumber != null">
            patent_number = #{patentNumber},
            </if>
            <if test="patentType != null">
            patent_type = #{patentType},
            </if>
            <if test="ranking != null">
            ranking = #{ranking},
            </if>
            <if test="isAttorn != null">
            is_attorn = #{isAttorn},
            </if>
            <if test="attornMoney != null">
            attorn_money = #{attornMoney},
            </if>
            <if test="itemId != null">
            item_id = #{itemId},
            </if>
            <if test="status != null">
            status = #{status},
            </if>
            <if test="lockStatus != null">
                lock_status = #{lockStatus},
            </if>
        </set>
        WHERE ID=#{id}
    </update>
    <!-- 删除 -->
    <delete id="delete">
        DELETE FROM audit_pms_patent WHERE ID = #{id}
    </delete>
</mapper>