<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.young.pms.mapper.auditFieldCommu">
    <!--查询字段信息-->
    <sql id="searchCol">
        O.id AS "id",
        O.table_name AS "tableName",
        O.field AS "field",
        O.field_val AS "fieldVal",
        O.user_id AS "userId",
        O.status AS "status"
        ,O.lock_status AS "lockStatus"
    </sql>
    <!--关联查询相关sql-->
    <sql id="joinSql">
    </sql>
    <!-- 查询 -->
    <select id="getList" parameterType="com.yy.young.pms.model.AuditFieldCommu" resultType="com.yy.young.pms.model.AuditFieldCommu">
        SELECT
        <include refid="searchCol"></include>
        FROM audit_field_commu O
        <include refid="joinSql"></include>
        <where>
            <if test="id != null and id != ''">
                AND O.ID = #{id}
            </if>
            <if test="tableName != null">
                AND O.table_name = #{tableName}
            </if>
            <if test="field != null">
                AND O.field = #{field}
            </if>
            <if test="fieldVal != null">
                AND O.field_val = #{fieldVal}
            </if>
            <if test="userId != null">
                AND O.user_id = #{userId}
            </if>
            <if test="status != null">
                AND O.status = #{status}
            </if>
        </where>
    </select>
    <!-- 统计数量 -->
    <select id="count" parameterType="com.yy.young.pms.model.AuditFieldCommu" resultType="int">
        SELECT
            count(*)
        FROM audit_field_commu O
        <where>
            <if test="id != null and id != ''">
                AND O.ID = #{id}
            </if>
        </where>
    </select>
    <!--根据编号查询-->
    <select id="get" resultType="com.yy.young.pms.model.AuditFieldCommu">
        SELECT
        <include refid="searchCol"></include>
        FROM audit_field_commu O
        <include refid="joinSql"></include>
        WHERE O.ID=#{id}
    </select>
    <!-- 插入 -->
    <insert id="insert" parameterType="com.yy.young.pms.model.AuditFieldCommu">
        INSERT INTO audit_field_commu(
            id,
            table_name,
            field,
            field_val,
            user_id,
            status
            ,lock_status
        ) VALUES(
            #{id},
            #{tableName},
            #{field},
            #{fieldVal},
            #{userId},
            #{status}
            ,#{lockStatus}
        )
    </insert>
    <!-- 修改 -->
    <update id="update" parameterType="com.yy.young.pms.model.AuditFieldCommu">
        UPDATE audit_field_commu
        <set>
            <if test="id != null">
            id = #{id},
            </if>
            <if test="tableName != null">
            table_name = #{tableName},
            </if>
            <if test="field != null">
            field = #{field},
            </if>
            <if test="fieldVal != null">
            field_val = #{fieldVal},
            </if>
            <if test="userId != null">
            user_id = #{userId},
            </if>
            <if test="status != null">
            status = #{status},
            </if>
            <if test="lockStatus != null">
                lock_status = #{lockStatus},
            </if>
        </set>
        WHERE ID=#{id}
    </update>
    <!-- 删除 -->
    <delete id="delete">
        DELETE FROM audit_field_commu WHERE ID = #{id}
    </delete>
</mapper>