<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.young.pms.mapper.paper">
    <!--查询字段信息-->
    <sql id="searchCol">
        O.id AS "id"
        ,O.user_id AS "userId"
        ,O.serial_number AS "serialNumber"
        ,O.years AS "years"
        ,O.title AS "title"
        ,O.periodical_name AS "periodicalName"
        ,O.volume AS "volume"
        ,O.page AS "page"
        ,O.periodical_type AS "periodicalType"
        ,O.ranking AS "ranking"
        ,O.influence_factor AS "influenceFactor"
        ,O.his_citation AS "hisCitation"
        ,O.status AS "status"
        ,O.lock_status AS "lockStatus"
    </sql>
    <!--关联查询相关sql-->
    <sql id="joinSql">
    </sql>
    <!-- 查询 -->
    <select id="getPaperList" parameterType="com.yy.young.pms.model.Paper" resultType="com.yy.young.pms.model.Paper">
        SELECT
        <include refid="searchCol"></include>
        FROM pms_paper O
        <include refid="joinSql"></include>
        <where>
            <if test="id != null and id != ''">
                AND O.ID = #{id}
            </if>
            <if test="userId != null and userId != ''">
                AND O.user_id = #{userId}
            </if>
            <if test="title != null and title != ''">
                AND O.title LIKE '%${title}%'
            </if>
        </where>
        ORDER BY O.years DESC
    </select>
    <!--根据编号查询-->
    <select id="getPaperById" resultType="com.yy.young.pms.model.Paper">
        SELECT
        <include refid="searchCol"></include>
        FROM pms_paper O
        <include refid="joinSql"></include>
        WHERE O.ID=#{id}
    </select>
    <!-- 插入 -->
    <insert id="insert" parameterType="com.yy.young.pms.model.Paper">
        INSERT INTO pms_paper(
        id
        ,user_id
        ,serial_number
        ,years
        ,title
        ,periodical_name
        ,volume
        ,page
        ,periodical_type
        ,ranking
        ,influence_factor
        ,his_citation
        ,status
        ,lock_status
        ) VALUES(
        #{id}
        ,#{userId}
        ,#{serialNumber}
        ,#{years}
        ,#{title}
        ,#{periodicalName}
        ,#{volume}
        ,#{page}
        ,#{periodicalType}
        ,#{ranking}
        ,#{influenceFactor}
        ,#{hisCitation}
        ,#{status}
        ,#{lockStatus}
        )
    </insert>
    <!-- 修改 -->
    <update id="update" parameterType="com.yy.young.pms.model.Paper">
        UPDATE pms_paper
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="serialNumber != null">
                serial_number = #{serialNumber},
            </if>
            <if test="years != null">
                years = #{years},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="periodicalName != null">
                periodical_name = #{periodicalName},
            </if>
            <if test="volume != null">
                volume = #{volume},
            </if>
            <if test="page != null">
                page = #{page},
            </if>
            <if test="periodicalType != null">
                periodical_type = #{periodicalType},
            </if>
            <if test="ranking != null">
                ranking = #{ranking},
            </if>
            <if test="influenceFactor != null">
                influence_factor = #{influenceFactor},
            </if>
            <if test="hisCitation != null">
                his_citation = #{hisCitation},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="lockStatus != null">
                lock_status = #{lockStatus},
            </if>
        </set>
        WHERE ID=#{id}
    </update>
    <!-- 删除 -->
    <delete id="delete">
        DELETE FROM pms_paper WHERE ID = #{id}
    </delete>
</mapper>