<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.young.pms.mapper.pmsCollectWork">
    <!--查询字段信息-->
    <sql id="searchCol">
        O.id AS "id",
        O.content AS "content"
        ,O.lock_status AS "lockStatus"
    </sql>
    <!--关联查询相关sql-->
    <sql id="joinSql">
    </sql>
    <!-- 查询 -->
    <select id="getList" parameterType="com.yy.young.pms.model.PmsCollectWork" resultType="com.yy.young.pms.model.PmsCollectWork">
        SELECT
        <include refid="searchCol"></include>
        FROM pms_collect_work O
        <include refid="joinSql"></include>
        <where>
            <if test="id != null and id != ''">
                AND O.ID = #{id}
            </if>
        </where>
    </select>
    <!-- 统计数量 -->
    <select id="count" parameterType="com.yy.young.pms.model.PmsCollectWork" resultType="int">
        SELECT
            count(*)
        FROM pms_collect_work O
        <where>
            <if test="id != null and id != ''">
                AND O.ID = #{id}
            </if>
        </where>
    </select>
    <!--根据编号查询-->
    <select id="get" resultType="com.yy.young.pms.model.PmsCollectWork">
        SELECT
        <include refid="searchCol"></include>
        FROM pms_collect_work O
        <include refid="joinSql"></include>
        WHERE O.ID=#{id}
    </select>
    <!-- 插入 -->
    <insert id="insert" parameterType="com.yy.young.pms.model.PmsCollectWork">
        INSERT INTO pms_collect_work(
            id,
            content
            ,lock_status
        ) VALUES(
            #{id},
            #{content}
            ,#{lockStatus}
        )
    </insert>
    <!-- 修改 -->
    <update id="update" parameterType="com.yy.young.pms.model.PmsCollectWork">
        UPDATE pms_collect_work
        <set>
            <if test="id != null">
            id = #{id},
            </if>
            <if test="content != null">
            content = #{content},
            </if>
            <if test="lockStatus != null">
                lock_status = #{lockStatus},
            </if>
        </set>
        WHERE ID=#{id}
    </update>
    <!-- 删除 -->
    <delete id="delete">
        DELETE FROM pms_collect_work WHERE ID = #{id}
    </delete>
</mapper>