<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.young.pms.mapper.pmsWebsite">
    <!--查询字段信息-->
    <insert id="insert" parameterType="com.yy.young.pms.model.PmsWebsite">
        INSERT INTO pms_website
        (id, user_id, chinese_name, website, add_time, sort)
        VALUES
            (
                #{id}, #{userId}, #{chinese_name}, #{website}, #{add_time}, #{sort}
            )
    </insert>
    <update id="update" parameterType="com.yy.young.pms.model.PmsWebsite">
        UPDATE pms_website
        SET user_id = #{userId}, chinese_name = #{chinese_name}, website = #{website}, add_time = #{add_time},
            sort = #{sort}

        WHERE id = #{id}
    </update>
    <select id="getList" parameterType="com.yy.young.pms.model.PmsWebsite"
            resultType="com.yy.young.pms.model.PmsWebsite">
        SELECT
        id, user_id, chinese_name, website, add_time, sort
        FROM pms_website
        WHERE 1=1
        <if test="userId != null and userId != ''">
            AND user_id=#{userId}
        </if>
        <if test="chinese_name != null and chinese_name != ''">
            AND chinese_name like '%${chinese_name}%'
        </if>
        order by sort desc
    </select>
    <delete id="delete">
        DELETE FROM pms_website
        WHERE ID = #{id}
    </delete>
    <select id="get" resultType="com.yy.young.pms.model.PmsWebsite">
        SELECT
            id,
            user_id AS userId,
            chinese_name,
            website,
            add_time,
            sort
        FROM pms_website
        WHERE ID = #{id}
    </select>
</mapper>