* {
    margin: 0;
    padding: 0;
    font-family: 'PingFangSC-Regular', "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}

.container {
    width: calc(100% - 60px);
    margin: 20px 32px 33px 22px;
    background: #fff;
    min-height: 100%;
    height: auto;
}

html,
body {
    height: 100%;
}

a:hover {
    color: #4a4a4a;
}

.container {
    width: calc(100% - 60px);
    margin: 20px 32px 33px 22px;
    background: #fff;
    min-height: 100%;
    height: auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear:after {
    clear: both;
    visibility: hidden;
    display: block;
    height: 0;
    content: "";
}

.zoom {
    zoom: 1;
}

.password-tit .title {
    font-size: 20px;
    color: #4A4A4A;
    font-family: 'PingFangSC-Regular', "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    letter-spacing: 0;
}

.password-tit {
    padding: 18px;
    border-bottom: 1px solid #E9E9E9;
}

.layui-input-inline input {
    width: 240px;
    height: 42px;
    background: #FCFCFC;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

button.layui-btn-primary.change {
    width: 240px;
    height: 42px;
    background: #3693FF;
    color: #fff;
}

.password-content {
    width: 500px;
    margin: 73px auto;
}

.layui-form-label {
    font-size: 14px;
    color: #4A4A4A;
    letter-spacing: 0;
}

.layui-form-item {
    margin-bottom: 32px;
}

.forget {
    position: relative;
    left: 90px;
    font-size: 14px;
    color: #3693FF;
    letter-spacing: 0;
}

.forget:hover {
    color: #3693FF;
}

.forget-box {
    position: relative;
    background: #FFFBCB;
    border: 1px solid #DCDCDC;
    width: 290px;
    /* height: 70px; */
    padding: 7px 14px;
    left: -40px;
    top: -20px;
    opacity: 0;
}

.bdnuarrow {
    width: 10px;
    height: 10px;
    display: inline-block;
    position: absolute;
    top: -6px;
    left: 48%;
    background-color: #FFFBCB;
    border-top: 1px solid #DCDCDC;
    border-left: 1px solid #DCDCDC;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.layui-input-inline {
    position: relative;
}

.tipinfo {
    color: #EA001D;
    position: absolute;
    top: -24px;
}