@charset "UTF-8";
.body-left-bar{ /*左侧栏*/
    color: #000000;
}
.bg-left{ /*左侧背景*/
    background-color: #F0F9FD;
}
.young-nav-container{ /*菜单栏颜色*/
    background-color: #EDF6FA;
}
.young-nav-tit:hover{ /*菜单项悬浮变色*/
    background-color: #D4E7F0;
}